@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    /* background: linear-gradient(90deg, rgba(23,27,235,1) 0%, rgba(29,253,123,1) 50%, rgba(69,252,250,1) 100%); */
    background: url("");
    background-size: contain;
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 60px;
    color: wheat;
}

i{
    font-family: Share Tech Mono;
    color: chocolate;
}