@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{   
    background: rgb(172,31,179);
    background: linear-gradient(0deg, rgba(172,31,179,1) 0%, rgba(45,49,253,1) 100%);
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 60px;
}

h1,h3{
    background: -webkit-linear-gradient(#1f38b3, #fdbb2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i{
    font-family: Orbitron;
}
