@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=M+PLUS+1:wght@200&family=Titillium+Web:wght@300&display=swap');

body{
    background-color: #3c3d41;
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 500px;
    color: #c2e0bf;
}

.container .text h2{
    align-self: center;
    position: relative;
    text-align: center;
    width: 28rem;
    height: 10rem;
}

.container img{
    height: 100%;
    opacity: 0.6;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #deb887;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: #cbd0d4;
}