@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background: linear-gradient(90deg, rgba(23,27,235,1) 0%, rgba(29,253,123,1) 50%, rgba(69,252,250,1) 100%);
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 80px;
    color: silver;
}