@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    background-color: cornflowerblue;
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 60px;
}

h1,h3{
    background: -webkit-linear-gradient(#1f38b3, #fdbb2d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

i{
    font-family: Orbitron;
}
