@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{   
    background: rgb(172,31,179);
    background: linear-gradient(0deg, rgba(172,31,179,1) 0%, rgba(107,40,217,1) 33%, rgba(84,43,230,1) 70%, rgba(45,49,253,1) 100%);
    background-position: center;
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 60px;
}

h1,h3{
    background: -webkit-linear-gradient(#d8d5e2, #bdb5db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h6{
    background: -webkit-linear-gradient(#c9daf5, #d2b3d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i{
    font-family: Orbitron;
}
