@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    background: radial-gradient(circle, rgba(23,27,235,1) 0%, rgb(25, 196, 96) 50%, rgb(16, 173, 171) 100%);
    background-size: contain;
}

div{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 60px;
    color: wheat;
}

i{
    font-family: Orbitron;
}